
.cep-content{
  width: 70%;
  padding-bottom: 15vw!important;
}

.cep-content h3{
  text-transform: uppercase;
  font-size: 6vw;
}

.cep-content span{
  font-size: 4.5vw;
  text-align: left;
  align-self: flex-start;
}

