
.cep-content{
  width: 70%;
  padding-bottom: 20vw!important;
}

.cep-content h2{
  text-transform: uppercase;
  font-size: 7vw;
}

.cep-content span{
  font-size: 5vw;
  text-align: left;
  align-self: flex-start;
}
