
.header h1{
  text-transform: uppercase;
  font-size: 8vw;
  font-family: sans-serif;
}

.header input{
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 5vw;
  padding-bottom: 3vw;
  margin-left: 5vw;
  width: 90%;
}

.header input::placeholder{
  color: lightgray;
}

.header button{
  font-size: 4.5vw;
}

