
.header{
  padding-left: 5vw!important;
  padding-right: 5vw!important;
  flex: 0!important;
}

.header h1{
  text-transform: uppercase;
  font-size: 8vw;
  font-family: sans-serif;
}

.header input{
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  font-size: 5vw;
  padding-bottom: 3vw;
}

.header input::placeholder{
  color: lightgray;
}

.header button{
  font-size: 4.5vw;
}

