
.header h1{
  text-transform: uppercase;
  font-size: 8vw;
  font-family: sans-serif;
}

.header input{
  background-color: transparent;
  color: white
}

.header input::placeholder{
  text-decoration: underline;
}

.header button{
  font-size: 4.5vw;
}

